<aside class="asidenav">
    <ul>
        <li class="asideli"><a asp-controller="Observations" asp-action="Index">Observationer</a></li>
        <li class="asideli"><a asp-controller="Observations" asp-action="AddSecond">Lägg till observation</a></li>
    </ul>
</aside>
