@{
    ViewData["Title"] = "Din favorit";
}

<main>

    <h2 class="favheading">@ViewBag.favourite</h2>

    <img class="favimage" src="https://cdn.pixabay.com/photo/2015/09/02/12/26/owl-918427_1280.jpg" alt="Uggla" />

</main>
