@{
    ViewData["Title"] = "Startsida";
}

<main>
    <h1>Välkommen till Bird Spotters</h1>
    <p>Detta är sidan för dig som tycker om fågelskådning. </p><br />
    <p>
        Här på Bird Spotters hemsida kan du se vilka fåglar andra har sett och vart de har sett dem. Du kan också skriva i vilka fåglar du har sett för att delge detta till andra.
        Du kan också läsa lite om några fåglar som finns i Sverige.
    </p><br /><br />

    <img class="favimage" src="https://cdn.pixabay.com/photo/2020/02/27/21/51/willow-tit-4885941_1280.jpg" alt="Talltita" />

</main>

